*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
/*<!--花卉顶部导航开始-->*/
.header-box{
    width: 100%;
    height: 79px;
    background: rgba(0,0,0,0.25);
    min-height: 79px;
    border-radius: 0;
    margin-bottom: 0;
    box-shadow: none;
    z-index: 999;
    position: fixed;
}
.container{
    width: 1170px;
    height: 100%;
/*   ;*/
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.row{
    margin-right: -15px;
    margin-left: -15px;
    display: block;
}
.logo{
    width: 150px;
    height: 100%;
    float: left;
    display: block;
}
.logo a{
    margin: 0;
    padding: 0;
    display: block;
}
.logo img{
    max-height: 50px;
    vertical-align: middle;
    border: 0;
    margin-bottom: 14.5px;
    margin-top: 14.5px;
}
.nav{
    width: 602px;
    height: 100%;
    /*background: #e23d1e;*/
    float: right;
    margin-right: -15px;
    display: block;
}
.nav-w{
    width: 86px;
    height: 100%;
    float: left;
    font-size: 14px;
}
.nav-w1{
    color: #16b0dc;
    margin-top: 0;
    padding-bottom: 0;
    height: 79px;
    line-height: 79px;
    text-decoration: none;
}
.nav-w2{
    color: #fff;
    margin-top: 0;
    padding-bottom: 0;
    height: 79px;
    line-height: 79px;
    text-decoration: none;
}
.nav-w2:hover{
    color: #16b0dc;
}
/*<!--花卉顶部导航结束-->*/

/*<!--花卉轮播图开始-->*/
.me-banner{
    width: 100%;
    height: 759px;
    background: #e23d1e;
    margin-bottom: 0;
    bottom: 20px;
    padding-left: 0;
    margin-top: 0px;
    z-index: 1;
    display: block;
    position: relative;
}
img{
    width: 100%;
    height: 759px;
}
.dian{
    width: 40px;
    height: 20px;
   /* background: #e23d1e;*/
    right: 50%;
    top: 1040px;
    display: block;
    position: absolute;
    margin-bottom: 0;
    z-index: 15;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
    margin-top: 0;
}
.dian-1{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    display: block;
    border: none;
    background: #d1d2df;
    float:left;
}
.hover{
    background: #616161;
}
.pre{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width:15%;
    height: 100%;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    opacity: 0;
    text-decoration:none;
}
.pre i{
    width: 24px;
    height: 24px;
    margin-top: -12px;
    margin-left: -12px;
    font-size: 24px;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    line-height: 1;
    left: 50%;

}
/*<!--花卉轮播图结束-->*/
/*素心开始*/
.su{
    width: 100%;
    height: 744px;
/*    background: #e53935;*/
    padding: 70px 0;
    display: block;
}
.su-container{
    width: 1170px;
    height: 604px;
  /*  background: #00c5c4;*/
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.su-container h3 {
    font-size: 36px;
    margin-top: 0;
    text-align: center;
    font-weight: 300;
    margin-bottom: 11px;
    line-height: 1.2;
    color: #37474f;
    display: block;
}
.h3 a{
    display: inline-block;
    background-color: #16b0dc;
    border-color: #16b0dc;
    padding: 5px 13px;
    margin-left: 15px;
    margin-top: -6px;
    position: relative;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
    color: #fff;
    margin-bottom: 0;
    font-weight: 300;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}
.dec{
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    width: 80%;
    color: #5e7387;
    margin: 0 auto;
}
.lun{
    width: 1140px;
    height: 476px;
/*    background: #ffac13;*/
    margin-top: 50px;
    display: block;
    padding: 0 60px;
    position: relative;
    z-index: 1;
}
.lun-outer{
    width: 1020px;
    height: 100%;
 /*   background: #83c44e;*/
    position: relative;
    overflow: hidden;
}
.hua{
    width: 320px;
    height: 320px;
    margin-right: 30px;
    position: relative;
    float: left;
    min-height: 1px;
    display: block;
    border-radius: 50%;
}
.hua1{
    width: 320px;
    height: 320px;
    position: relative;
    min-height: 1px;
    display: block;
    border-radius: 50%;
    float: right;
}
.zo{
    width: 100%;
    height: 76px;
  /*  background: #ba38b2;*/
   margin-top: 340px;
    margin-right: 30px;
}
.zo-zi{
    width: 320px;
    height: 76px;
    background: #fff;
 /*  margin-top: 340px;*/
    margin-right: 30px;
    float: left;
    z-index: 1;
}
.zo-zi1 h4{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
    color: #37474f;
}
.zo-zi h4{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
    color: #37474f;
}
.zo-zi p{
    font-size: 14px;
    line-height: 1.5;
    color: #757575;
    margin: 0 0 11px;
}
.zo-zi1 p{
    font-size: 14px;
    line-height: 1.5;
    color: #757575;
    margin: 0 0 11px;
}
.detail{
    width: 320px;
    height: 36px;
    white-space: normal;
    padding: 6px 15px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
    display: block;
    background-color: #f96868;
    color: #fff;
    border-color: #f96868;
    font-weight: 300;
    text-align: center;
    margin-right: 20px;
    float: left;
}
.detail i{
    color: #9c2115;
    margin-right: 15px;
}
.pp{
    width: 60px;
    height: 60px;
    margin-top: -15px;
    left: 25px;
    position: absolute;
    top: 50%;
/*    background: chartreuse;*/
}
.pt{
    width: 60px;
    height: 60px;
    margin-top: -15px;
    right: -20px;
    position: absolute;
    top: 50%;
}
.yu{
    width: 100%;
    height: 707px;
   background: #f5f5f5;
    padding: 70px 0;
    margin-top: 1030px;
}
.yu-box{
    width: 1170px;
    height: 567px;
   /* background: #ffac13;*/
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.yu-box h3{
    width: 1140px;
    height: 43px;
/*    background: #f96868;*/
    font-size: 36px;
    margin-top: 0;
    text-align: center;
    font-weight: 300;
    margin-bottom: 11px;
    color: #37474f;
    line-height: 1.2;
    display: block;
}
.yu-box a{
    display: inline-block;
    background-color: #16b0dc;
    top: 50%;
    left: -16px;
    margin-top: -50px;
    padding: 5px 13px;
    margin-left: 15px;
    position: relative;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
    color: #fff;
    margin-bottom: 0;
    text-align: center;
    font-weight: 300;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
}
.block{
    width: 1170px;
    height: 504px;
   /*background: #616161;*/
    margin-top: 20px;
    padding: 0;
    margin-right: -15px;
    margin-left: -15px;
    display: block;
}
.duo{
    width: 585px;
    height: 96px;
    /*background: #ff1b0c;*/
    margin-top: 30px;
    margin-bottom: 0;
    float: left;
}
.med{
    width: 555px;
    height: 100%;
  /*  background: #16b0dc;*/
    margin-top: 0;
    overflow: hidden;
    zoom: 1;
    margin-right: 15px;
    margin-left: 15px;
    float: left;
    position: relative;
}
.tu1{
    width: 160px;
    height: 96px;
    padding-right: 20px;
    vertical-align: top;
    float: left;
}
.tu1 img{
    width: 160px;
    height: 96px;
}
.lo{
    width: 375px;
    height: 96px;
    /*background: #83c44e;*/
    overflow: hidden;
    vertical-align: top;
    float: right;
}
.rouruo{
    width: 100%;
    height: 21px;
/*    background: #ba38b2;*/
    margin-top: 12px;
    margin-bottom: 1px;
    font-size: 18px;
    line-height: 1.2;
    display: block;
}
.rouruo a {
    background-color: #f5f5f5;
    color: #2a333c;
    font-weight: 400;
    line-height: 1.2;
    text-shadow: rgba(0, 0, 0, .5);
    font-size: 18px;
}
.rouruo a:hover{
    color:#62a8ca;
    text-decoration: underline;
}
.dl{
    width: 375px;
    height: 42px;
    display: block;
   /* background: #ffac13;*/
    color:#76828f;
    font-weight: 300;
    margin: 0 0 11px;
    font-size: 14px;
}
.inf{
    width: 375px;
    height: 21px;
  /*  background: #ff1b0c;*/
    color: #76838f;
    font-weight: 300;
    margin-top: -10px;
    display: block;
    font-size: 14px;
}
.w{
   margin-left: 10px;
}
.a{
    margin-left: 10px;
}
/*素心结束*/
/*素心工作室开始*/
.work-box{
    width: 100%;
    height: 905px;
    background: #fff;
    padding: 70px 0;
    border-bottom: 1px solid #757575;
}
.work{
    width: 1170px;
    height: 765px;
    /*background: #83c44e;*/
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.work h3{
    font-size: 36px;
    margin-top: 0;
    text-align: center;
    font-weight:300;
    text-shadow: rgba(0,0,0,.15) 0 0 1px;
    margin-bottom: 11px;
    line-height: 1.2;
    color: #37474f;
}
.ed{
    width: 1140px;
    height: 672px;
    background: #ffffffff;
    margin-top: 50px;
    padding: 30px;
    line-height: 1.8;
    font-size: 18px;
    font-weight: 300;
    color: #222;
}
.editor{
    width: 1080px;
    height: 612px;
 /*   background: #16b0dc;*/
}
.nei1{
    text-align: center;
    margin-bottom: 16px;
    display: block;
    font-family: 微软雅黑;
    font-size: 16px;
    line-height: 1.4;
}
.pa{
    display: block;
    margin-top: 25px;
    padding: 0;
    white-space: normal;
    text-align: center;
    font-family: 微软雅黑;
    font-size: 16px;
    line-height: 1.4;
}
.pm{
    display: block;
    margin-top: -10px;
    padding: 0;
    white-space: normal;
    text-align: center;
    font-family: 微软雅黑;
    font-size: 16px;
    line-height: 1.4;
}
.di{
    width: 1080px;
    height: 340px;
    /*background: #ff6709;*/
    margin-top: 45px;
}
.di img{
    width: 530px;
    height: 340px;
    margin-left: 300px;
}
/*素心工作室结束*/
/*结尾开始*/
.footer-box{
    width: 100%;
    height: 190px;
    background: #f5f5f5;
    padding-bottom: 20px;
    color: #aaaaaa;
    line-height: 1.8;
    margin-top: 100px;
}
.lim{
    width: 100%;
    height: 20px;
    /*background: #ffac13;*/
    padding: 10px 0;

}
.biao{
    width: 100%;
    height: 56px;
    margin-top: 10px;
    padding: 5px 0;
    text-align: center;
}
.weixin{
    font-size: 26px;
    width: 30px;
    height: 19px;
    color: #83b944;
    margin: 0 8px;
}
.weixin i{
    width: 30px;
    height: 46px;
    font-size: 30px;
    margin: 0 -5px;
}
.qq i{
    font-size: 25px;
    margin: 0 5px;
    width: 26px;
    height: 46px;
    cursor: pointer;
    color: #62a8ea;
}
.xin i{
    font-size: 28px;
    margin: 0 5px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    color: #62a8ea;
}
.pop{
    margin: 0 0 11px;
    text-align: center;
}
.pop a{
    color: #62a8ea;
    margin-right: 10px;
}
.pop a:hover{
    background-color: transparent;
    text-decoration: underline;
}
.pop img{
    width: 20px;
    height: 20px;
    border: 0;
}
.dao2{
    margin: 0 0 11px;
    display: block;
    text-align: center;
}
.dao1{
    margin-top: -40px;
    display: block;
    text-align: center;
}
/*结尾结束*/